body{
    display: flex;
    justify-content: center;
    font-family: Orbitron, Verdana, Geneva, Tahoma, sans-serif;
   
}

div {
    display: flex;
    justify-content: center;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
   max-width: 5000px;
    flex: 1;
    border: darkgrey, solid, 1px;
    border-radius: 10px;

}


#screen {
    background-color: lightgray;
    color: blue;
    margin: 5px;
    padding: 5px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}

#display {
    margin-right: 15px;
}
#buttons-container {
    display: flex;
}

.digit,.operator{
    display: flex;
    width: 50px;
    background-color: white;
    
    
    margin: 10px;
    border-radius: 10px;
    font-size:large;
}






#operations-container {
   
    flex-grow: 1;
    align-items: center;
    justify-content:space-around;
    background-color:burlywood;
  
}
#digits-container {
    background-color: lightgray;
    flex-grow: 3;
}

#digits-container, #operations-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 5px;

}

.number-group, .operator-group {
    display: flex;
    justify-content: center;
}

#equals, #AC {
    width: 75px;
}


/*#equals {
    display: flex;
    align-self: center;
    width: 70px;
}
*/






#nought {
    display: flex;
    align-self: center;
    justify-content: center;
}